.tool-bar-container {
    display: flex;
    background-color: #f8f9fa;
    flex-direction: row;
    align-items: center;
    padding: 0.2rem 0.5rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
    border-radius: 0.2rem;
}

.tool-bar-items-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tool-bar-items-container.justify-start {
    justify-content: flex-start;
}

.tool-bar-items-container.justify-center {
    justify-content: center;
}

.tool-bar-items-container.justify-end {
    justify-content: flex-end;
}
