
<div class="tool-bar-container">
    <div class="tool-bar-items-container justify-start">
        @Left
    </div>
    <div class="tool-bar-items-container justify-center">
        @Middle
    </div>
    <div class="tool-bar-items-container justify-end">
        @Right
    </div>
</div>

@code {
    
}
